# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*.local

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/
*.lcov

# Build outputs
dist/
build/
tmp/
temp/

# Cache
.cache/
.next/
.nuxt/
out/
.astro/

# Database
*.sqlite
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
*.swp

# Test
jest-coverage/
